


h1{
    color: orange;
    font-size: 50px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





p{
    
    font-size: 21px;
    font-weight: bold;
}


 

footer p{

    color: blueviolet;
}


.color-red {

    background-color: #fec7d7;
}

.cambiarletra {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#team7{
    background-color: white;
}



#team7{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "uzumaki" 
    "uchiha" 
    "haruno" 
    "hatake"
    
    ;


}
@media only screen and (min-width: 1280px){
    #team7{
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas:
    
    "uzumaki" "uchiha" "haruno" "hatake"
    
    ;
}

}
 @media only screen and (min-width: 1280px){
    #team7{

        background-color: white;
        display: flex;
        justify-content: space-between;
    }
}

*{
    margin: 0;
    padding: 0;

}


/* menú de navegación */
#logo-nav{

    display: flex;
    justify-content: space-between;
    background-color: #D18615
}   

.minav{
    background-color: #D18615;

}

 
