header{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h1{
    color: orange;
    font-size: 50px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray;
}

h2{
   font-size:35px 

}

p{
    font-size: 20px;
    background-color: yellow;
}

/* Menú Navegación */

#logo-nav{

    display: flex;
    justify-content: space-between;
    background-color: #D18615
}   

.minav{
    background-color: #D18615;

}
/* Footer */
footer p{

    color: blueviolet;
}

footer{
    font-size:  20px;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
