


h1{
    color: orange;
    font-size: 50px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#logo-imagen{
    display: flex;
    flex-direction:row;
    width: 40px;
    
}

#logo-escrito{
    width: auto;
    
    
}






p{
    
    font-size: 21px;
    font-weight: bold;
}




 */

#Welcome{

    color: blue;
}

footer p{

    color: blueviolet;
}

footer{

   
}


.color-red {

    background-color: #fec7d7;
}

.cambiarletra {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




*{
    margin: 0;
    padding: 0;

}

#contenedor{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
    "cabecera"
    "hero"
    "productos"
    "pie"
    
    
    
    ;

}
/* Cabecera */

#cabecera{
    grid-area: cabecera;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
   
}

#logo-nav{

    display: flex;
    justify-content: space-between;
    background-color: #D18615
}   

.minav{
    background-color: #D18615;

}

 
/* Contenido principal */
#hero{
    grid-area: hero;

}

#productos{
    grid-area: productos;

}

/* Pie de pagina */
#pie{
    grid-area: pie;

}
